div{
    height: 400px;
    -moz-transform: skew(7deg, 0deg);
    -webkit-transform: skew(7deg, 0deg);
    -o-transform: skew(7deg, 0deg);
    -ms-transform: skew(7deg, 0deg);
    transform: skew(7deg, 0deg);
    width:700px;
    margin: 0 0 0 -50px;
    position: absolute;
    bottom:0;
}

#titleContainer{
    position: absolute;
    bottom:0;
    left:0;
    background-color: #000;
}

.title-frag{
    font-family: 'GoodTimes';
    -moz-transform: skew(-7deg, 0deg);
    -webkit-transform: skew(-7deg, 0deg);
    -o-transform: skew(-7deg, 0deg);
    -ms-transform: skew(-7deg, 0deg);
    transform: skew(-7deg, 0deg);
}