<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <input type="text" #input>
<button id="button" (click)="sendMeMovie(input.value)">Send</button>
<div id="titleContainer">
<p class="title-frag">{{title1}}</p>
<p class="title-frag">{{title2}}</p>
<p class="title-frag">{{title3}}</p>
</div>
<div *ngIf="movieData.Title" style="margin-top:20px">
  <img [src]="movieData.Poster">
  <h3>{{movieData.Title}}</h3>
  <span>/{{movieData.Year}}/</span>
  <p>
    {{movieData.Plot}}
  </p>
  <b>{{movieData.imdbRating}}</b>
</div>
</div>


<router-outlet></router-outlet>
